@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");

:root {
    --page-background: #f8f8f8;
    --button-hover: #dfe6e9;
}

* {
    box-sizing: border-box;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

body {
    padding: 2rem 0;
    margin: 0;
    min-height: 100vh;
    background-color: var(--page-background);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

.title {
    color: #2d3436;
    font-size: 3rem;
    margin: 0;
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.game-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-type-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.game-type-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    padding: 0.25rem;
    background-color: var(--page-background);
    border: 1px solid #2d3436;
    border-radius: 1rem;
    color: #2d3436;

    transition-property: background-color, color, border-color, outline-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;

    outline: 1px solid transparent;
    outline-offset: 2px;
}

.game-type-button:hover {
    border-color: #0984e3;
}

.game-type-button:active {
    background-color: #dfe6e9;
}

.game-type-button:disabled {
    background-color: #dfe6e9;
    position: relative;
}

.game-type-button:disabled::after {
    background-color: #d63031;
    content: "WIP";
    color: #f8f8f8;
    padding: 3px 8px;
    font-weight: 900;
    border-radius: 4px;

    position: absolute;
    right: 50%;
    top: -30px;
    transform: translateX(50%);
}

.game-type-button:disabled:hover {
    border-color: #d63031;
}

.game-type-button[data-selected="true"] {
    color: #0984e3;
    border-color: #0984e3;
    outline-color: #0984e3;
}

.game-type-button span {
    font-size: 4rem;
    user-select: none;
}

.player-name-field {
    display: flex;
    flex-direction: column;
    color: #2d3436;
    margin-bottom: 1rem;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
}

.player-name-field input {
    padding: 0.25rem 0.75rem;
    color: #2d3436;
    border: 1px solid #2d3436;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    background-color: var(--page-background);
    width: 90%;
}

.player-name-field input:disabled {
    background-color: var(--button-hover);
}

.player-name-field label {
    position: relative;
    left: 0.75rem;
    font-size: 1.25rem;
}

.form-submit-button {
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 1rem;

    border: 1px solid currentColor;
    border-radius: 1rem;
    color: #0984e3;
    background-color: var(--page-background);

    transition-property: background-color, color, border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.form-submit-button:hover {
    background-color: #0984e3;
    color: var(--page-background);
    border-color: #0984e3;
}

.info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #2d3436;
    font-weight: 900;
}

.info-container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.score {
    padding: 0.1rem 0.5rem;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.player1-info .score {
    background-color: #0984e3;
}

.player2-info .score {
    background-color: #d63031;
}

.board-container {
    border: 2px solid #2d3436;
    background-color: var(--page-background);
    border-radius: 1rem;
    padding: 1rem;
}

#board {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    background-color: #2d3436;
}

.board-button {
    appearance: none;
    border: none;
    background-color: var(--page-background);
    transition: background-color 0.25s ease-out;

    max-width: 150px;
    max-height: 150px;
    min-width: 100px;
    min-height: 100px;
    width: 20vw;
    height: 20vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.board-button:hover {
    background-color: var(--button-hover);
}

.board-button span {
    font-weight: 900;
    font-size: clamp(4rem, 0rem + 12.8vw, 6rem);
    transition: opacity 0.25s ease-out;
}

.player1-color {
    color: #0984e3;
}

.player2-color {
    color: #d63031;
}

.game-over {
    color: #2d3436;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-over h1 {
    font-size: 2.5rem;
    margin: 0;
    font-variant: small-caps;
}

.game-over .scores {
    font-size: 2.5rem;
    font-weight: 900;
}

footer a img {
    height: 30px;
    width: 30px;
}

footer a,
footer svg {
    transition: color 0.25s ease-out;
}

footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #2d3436;
}

footer a:hover,
footer a:hover svg {
    color: #d63031;
}

.transparent {
    opacity: 0;
}

.hidden {
    display: none;
}
